[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
max_connections=200
default-storage-engine=INNODB
innodb_buffer_pool_size=256M
innodb_log_file_size=64M
slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow.log
long_query_time=2

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
